$text_color: #ffaf00
$bg_color: #210002
$none_active_color: #973700

@import 'fonts'
@import 'content'
@import 'illustrations'


body
	font-family: 'PT_Sans'

body, html, h1, p, ul, li, h1, h2, h3, h4, h5
	padding: 0px
	margin: 0px

div
	box-sizing: border-box

ul
	list-style-type: none