.border
	position: fixed
	background-color: white
	transition: 2s ease

.vert
	width: 55px
	height: 100%

.hor
	height: 55px
	width: 100%

.left
	left: 0
	transform: translate(-40px, 0px)

.right
	right: 0
	transform: translate(40px, 0px)

.bot
	bottom: 0
	transform: translate(0px, 40px)

.top
	top: 0
	transform: translate(0px, -40px)